LAB1/Lab1_flow.json
[{"id":"d8b3efa7.2c5ab","type":"tab","label":"Flow 9","disabled":false,"info":""},{"id":"6378fd30.4cc964","type":"function","z":"d8b3efa7.2c5ab","name":"","func":"msg.payload=\"Hello \"+msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["a2011c89.e599a"]]},{"id":"a2011c89.e599a","type":"http response","z":"d8b3efa7.2c5ab","name":"","statusCode":"","headers":{},"x":770,"y":220,"wires":[]},{"id":"cccfb748.9cbf88","type":"http in","z":"d8b3efa7.2c5ab","name":"","url":"456","method":"post","upload":false,"swaggerDoc":"","x":300,"y":220,"wires":[["6378fd30.4cc964"]]}]