LAB4/GA.json
[{"id":"db969b99.887918","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"351a10d1.15789","type":"inject","z":"db969b99.887918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["e948e4eb.99e208"]]},{"id":"e948e4eb.99e208","type":"oM2M-Application","z":"db969b99.887918","xSCL":"f4ac5839.dfc378","xA":"a9932f0d.aa62e","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":310,"y":100,"wires":[["8b63d0ae.d7313"]]},{"id":"8b63d0ae.d7313","type":"http request","z":"db969b99.887918","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":650,"y":100,"wires":[["1040c678.2f7fba"]]},{"id":"7a06bc30.e16bc4","type":"inject","z":"db969b99.887918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["8f19fcfd.6ab79"]]},{"id":"8f19fcfd.6ab79","type":"oM2M-Descriptor-Container","z":"db969b99.887918","xSCL":"f4ac5839.dfc378","xA":"a9932f0d.aa62e","x":340,"y":160,"wires":[["d3844c4d.6368"]]},{"id":"d3844c4d.6368","type":"http request","z":"db969b99.887918","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":650,"y":160,"wires":[["1040c678.2f7fba"]]},{"id":"f0157b59.21b5a8","type":"inject","z":"db969b99.887918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["2fe66219.bea38e"]]},{"id":"2fe66219.bea38e","type":"oM2M-Descriptor-ContentInstance","z":"db969b99.887918","xSCL":"f4ac5839.dfc378","xA":"a9932f0d.aa62e","obixType":"","obixLocation":"","x":360,"y":220,"wires":[["6544b776.0a3ec8"]]},{"id":"6544b776.0a3ec8","type":"http request","z":"db969b99.887918","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":650,"y":220,"wires":[["1040c678.2f7fba"]]},{"id":"5606aa0.7fd5058","type":"inject","z":"db969b99.887918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":280,"wires":[["b3cb05a8.2c05a8"]]},{"id":"b3cb05a8.2c05a8","type":"oM2M-Data-Container","z":"db969b99.887918","xSCL":"f4ac5839.dfc378","xA":"a9932f0d.aa62e","maxNrOfInstances":"10","obixAnnounce":true,"x":320,"y":280,"wires":[["9814365d.e5eff8","b01c41be.4cac9"]]},{"id":"9814365d.e5eff8","type":"http request","z":"db969b99.887918","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":650,"y":280,"wires":[["1040c678.2f7fba"]]},{"id":"1040c678.2f7fba","type":"debug","z":"db969b99.887918","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","x":1280,"y":280,"wires":[]},{"id":"407e4f91.1578d","type":"oM2M-Data-ContentInstance","z":"db969b99.887918","xSCL":"f4ac5839.dfc378","xA":"a9932f0d.aa62e","obixCategory":"","x":500,"y":380,"wires":[["7df68118.c4089"]]},{"id":"b1a849c3.7c2808","type":"inject","z":"db969b99.887918","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":380,"wires":[["131493bf.81660c"]]},{"id":"7df68118.c4089","type":"http request","z":"db969b99.887918","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":690,"y":380,"wires":[["1040c678.2f7fba"]]},{"id":"131493bf.81660c","type":"function","z":"db969b99.887918","name":"My Data","func":"var data = { \n    type:'gps',\n    unit:'float',\n    latitude: '2',\n    longitude: '3' \n};\nmsg.payload= JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["407e4f91.1578d"]]},{"id":"b01c41be.4cac9","type":"debug","z":"db969b99.887918","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1290,"y":420,"wires":[]},{"id":"9518b86c.8b5ec8","type":"http in","z":"db969b99.887918","name":"Post Sensor Data","url":"/location","method":"post","upload":false,"swaggerDoc":"","x":160,"y":520,"wires":[["11ac7e6a.3f7db2","46c51d34.7eefe4"]]},{"id":"11ac7e6a.3f7db2","type":"function","z":"db969b99.887918","name":"Input Data","func":"var data = { \n    type:'gps',\n    unit:'float',\n    latitude: msg.payload.latitude,\n    longitude: msg.payload.longtitude \n}; \nmsg.payload= JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["48d87399.91170c"]]},{"id":"48d87399.91170c","type":"oM2M-Data-ContentInstance","z":"db969b99.887918","xSCL":"f4ac5839.dfc378","xA":"a9932f0d.aa62e","obixCategory":"","x":600,"y":520,"wires":[["97ffdb9d.7ff5a8","b01c41be.4cac9"]]},{"id":"97ffdb9d.7ff5a8","type":"http request","z":"db969b99.887918","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":850,"y":520,"wires":[["1040c678.2f7fba"]]},{"id":"46c51d34.7eefe4","type":"http response","z":"db969b99.887918","name":"Http Response","statusCode":"","headers":{},"x":420,"y":640,"wires":[]},{"id":"f4ac5839.dfc378","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"a9932f0d.aa62e","type":"xA","z":"","appId":"MY_SENSOR","contactUrl":"localhost:1880"}]