LAB4/NA.json
[{"id":"81a2ad25.8e764","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d663bef7.9631d","type":"inject","z":"81a2ad25.8e764","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["991e8778.188828"]]},{"id":"991e8778.188828","type":"oM2M-Application","z":"81a2ad25.8e764","xSCL":"6b955e98.1b13c","xA":"59705967.364f48","obixType":"NETWORK APPLICATION","obixCategory":"demo","obixLocation":"Cloud","obixAnnounce":true,"x":290,"y":80,"wires":[["fe90d163.dd0e2"]]},{"id":"fe90d163.dd0e2","type":"http request","z":"81a2ad25.8e764","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":80,"wires":[["8c2d8df.90b787"]]},{"id":"8c2d8df.90b787","type":"debug","z":"81a2ad25.8e764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","x":720,"y":80,"wires":[]},{"id":"dd28be57.1870c","type":"inject","z":"81a2ad25.8e764","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["a8e5b8fa.7683a8"]]},{"id":"a8e5b8fa.7683a8","type":"oM2M-Subscription","z":"81a2ad25.8e764","xSCL":"f4a5fb8c.8d2438","xA":"59705967.364f48","contactPath":"/notification","filterType":"","filterCriteria":"content","x":290,"y":120,"wires":[["fbbf6b1c.e8ef88","e7152ef3.57ea6"]]},{"id":"fbbf6b1c.e8ef88","type":"http request","z":"81a2ad25.8e764","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances/subscriptions","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":120,"wires":[["8c2d8df.90b787"]]},{"id":"934fa980.975838","type":"http in","z":"81a2ad25.8e764","name":"","url":"/notification","method":"post","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["d8e43760.509f08","c086c49e.f11e38"]]},{"id":"d8e43760.509f08","type":"http response","z":"81a2ad25.8e764","name":"","statusCode":"","headers":{},"x":450,"y":300,"wires":[]},{"id":"ea29af43.19fed","type":"function","z":"81a2ad25.8e764","name":"","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":240,"wires":[["65f7feaf.0f07a"]]},{"id":"65f7feaf.0f07a","type":"file","z":"81a2ad25.8e764","name":"","filename":"D:\\om2m\\notification.xml","appendNewline":true,"createDir":true,"overwriteFile":"true","x":870,"y":240,"wires":[[]]},{"id":"c086c49e.f11e38","type":"function","z":"81a2ad25.8e764","name":"","func":"msg.payload = msg.req.body.toString();\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["10f6f36b.fe40ad"]]},{"id":"10f6f36b.fe40ad","type":"xml","z":"81a2ad25.8e764","name":"","property":"payload","attr":"","chr":"","x":570,"y":240,"wires":[["ea29af43.19fed"]]},{"id":"9cfbba99.7acee8","type":"http in","z":"81a2ad25.8e764","name":"","url":"/xml","method":"get","upload":false,"swaggerDoc":"","x":80,"y":340,"wires":[["f981b2eb.1ff8c"]]},{"id":"f981b2eb.1ff8c","type":"file in","z":"81a2ad25.8e764","name":"","filename":"D:\\om2m\\notification.xml","format":"utf8","chunk":false,"sendError":false,"x":330,"y":340,"wires":[["b78d36ce.5ffca8"]]},{"id":"29072899.d11da8","type":"http response","z":"81a2ad25.8e764","name":"","statusCode":"","headers":{},"x":890,"y":340,"wires":[]},{"id":"b78d36ce.5ffca8","type":"xml","z":"81a2ad25.8e764","name":"","property":"payload","attr":"","chr":"","x":710,"y":340,"wires":[["29072899.d11da8"]]},{"id":"e7152ef3.57ea6","type":"debug","z":"81a2ad25.8e764","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":140,"wires":[]},{"id":"19b8bc93.2760f3","type":"http in","z":"81a2ad25.8e764","name":"","url":"/location","method":"get","upload":false,"swaggerDoc":"","x":110,"y":420,"wires":[["184685ce.be8b6a"]]},{"id":"184685ce.be8b6a","type":"file in","z":"81a2ad25.8e764","name":"","filename":"D:\\om2m\\notification.xml","format":"utf8","chunk":false,"sendError":false,"x":330,"y":420,"wires":[["4e7b249f.bbbf4c"]]},{"id":"4e7b249f.bbbf4c","type":"xml","z":"81a2ad25.8e764","name":"","property":"payload","attr":"","chr":"","x":710,"y":420,"wires":[["223f8ce8.e1cdd4"]]},{"id":"223f8ce8.e1cdd4","type":"json","z":"81a2ad25.8e764","name":"","property":"payload","action":"","pretty":false,"x":890,"y":420,"wires":[["f2f5233d.7085a"]]},{"id":"f2f5233d.7085a","type":"function","z":"81a2ad25.8e764","name":"","func":"var data = JSON.parse(msg.payload); \nvar object1 = data.obj; \nvar string1 = object1.str;\n\nvar tres= string1[3]; \nvar tres_$ = tres.$; \nvar latitude = tres_$.val;\n\nvar cuatro= string1[4]; \nvar cuatro_$ = cuatro.$; \nvar longitude = cuatro_$.val;\n\nmsg.payload= { \n    \"latitude\":latitude, \n    \"longitude\": longitude \n    \n}; \nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":420,"wires":[["59e87b12.eb90b4","c5a46edd.ad226"]]},{"id":"59e87b12.eb90b4","type":"http response","z":"81a2ad25.8e764","name":"","statusCode":"","headers":{},"x":1270,"y":280,"wires":[]},{"id":"c5a46edd.ad226","type":"debug","z":"81a2ad25.8e764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":440,"wires":[]},{"id":"6b955e98.1b13c","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"59705967.364f48","type":"xA","z":"","appId":"MY_NETWORK_APPLICATION","contactUrl":"localhost:1880"},{"id":"f4a5fb8c.8d2438","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"}]