LAB5/flow.json
[{"id":"a8fdbacb.c502f8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4e1d8018.37259","type":"http in","z":"a8fdbacb.c502f8","name":"","url":"/LAB5","method":"post","upload":false,"swaggerDoc":"","x":70,"y":240,"wires":[["4cb9295d.7e8608"]]},{"id":"c1468d8.a89b17","type":"http request","z":"a8fdbacb.c502f8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_0/lamps/true","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":120,"wires":[[]]},{"id":"fc14350c.3bdbd8","type":"function","z":"a8fdbacb.c502f8","name":"","func":"msg={}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":120,"wires":[["c1468d8.a89b17"]]},{"id":"3541c0ab.09da","type":"switch","z":"a8fdbacb.c502f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1,","vt":"str"},{"t":"eq","v":"0,","vt":"str"},{"t":"eq","v":",1","vt":"str"},{"t":"eq","v":",0","vt":"str"},{"t":"eq","v":"1,1","vt":"str"},{"t":"eq","v":"0,0","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":350,"y":260,"wires":[["fc14350c.3bdbd8"],["20db92a9.de26ae"],["390187ef.989538"],["de3a6d43.95ce7"],["b9510ccd.559c9"],["abce50d9.d0222"]]},{"id":"5815284a.66c988","type":"http request","z":"a8fdbacb.c502f8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_0/lamps/false","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":180,"wires":[[]]},{"id":"20db92a9.de26ae","type":"function","z":"a8fdbacb.c502f8","name":"","func":"msg={}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["5815284a.66c988"]]},{"id":"eeb2b92d.09cc88","type":"http request","z":"a8fdbacb.c502f8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_1/lamps/true","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":260,"wires":[[]]},{"id":"390187ef.989538","type":"function","z":"a8fdbacb.c502f8","name":"","func":"msg={}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["eeb2b92d.09cc88"]]},{"id":"87d7c28d.7b8b9","type":"http request","z":"a8fdbacb.c502f8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_1/lamps/false","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":320,"wires":[[]]},{"id":"de3a6d43.95ce7","type":"function","z":"a8fdbacb.c502f8","name":"","func":"msg={}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":320,"wires":[["87d7c28d.7b8b9"]]},{"id":"1ec78b1.020af75","type":"http request","z":"a8fdbacb.c502f8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/groups/ON_ALL/membersContent","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":380,"wires":[[]]},{"id":"b9510ccd.559c9","type":"function","z":"a8fdbacb.c502f8","name":"","func":"msg={}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":380,"wires":[["1ec78b1.020af75"]]},{"id":"7e22c78d.c1bc38","type":"http request","z":"a8fdbacb.c502f8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/groups/OFF_ALL/membersContent","tls":"","persist":false,"proxy":"","authType":"basic","x":750,"y":460,"wires":[[]]},{"id":"abce50d9.d0222","type":"function","z":"a8fdbacb.c502f8","name":"","func":"msg={}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":460,"wires":[["7e22c78d.c1bc38"]]},{"id":"979ba968.d871e8","type":"inject","z":"a8fdbacb.c502f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":540,"wires":[["fdaddfbd.20c1"]]},{"id":"fdaddfbd.20c1","type":"template","z":"a8fdbacb.c502f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<om2m:subscription xmlns:om2m=\"http://uri.etsi.org/m2m\">\n<om2m:filterCriteria>\n<ifMatch>content</ifMatch>\n</om2m:filterCriteria>\n<om2m:contact>http://127.0.0.1:1880/LAB5_sub</om2m:contact>\n</om2m:subscription>","output":"str","x":460,"y":540,"wires":[["52abe9f2.0c4598","d1b92d12.50406"]]},{"id":"52abe9f2.0c4598","type":"http request","z":"a8fdbacb.c502f8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_0/containers/DATA/contentInstances/subscriptions","tls":"","persist":false,"proxy":"","authType":"basic","x":670,"y":520,"wires":[[]]},{"id":"f682ba05.de0d38","type":"http in","z":"a8fdbacb.c502f8","name":"","url":"/LAB5_sub","method":"post","upload":false,"swaggerDoc":"","x":180,"y":680,"wires":[["4b6e6156.81ed8","c7c59469.88cce8"]]},{"id":"7fce778e.d32dc8","type":"function","z":"a8fdbacb.c502f8","name":"","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":680,"wires":[["9f4ad6a1.5b28d8"]]},{"id":"4b6e6156.81ed8","type":"xml","z":"a8fdbacb.c502f8","name":"","property":"payload","attr":"","chr":"","x":370,"y":680,"wires":[["7fce778e.d32dc8"]]},{"id":"d1b92d12.50406","type":"http request","z":"a8fdbacb.c502f8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl/applications/LAMP_1/containers/DATA/contentInstances/subscriptions","tls":"","persist":false,"proxy":"","authType":"basic","x":670,"y":600,"wires":[[]]},{"id":"9f4ad6a1.5b28d8","type":"xml","z":"a8fdbacb.c502f8","name":"","property":"payload","attr":"","chr":"","x":610,"y":680,"wires":[["2fe3a8dc.4feb38"]]},{"id":"2fe3a8dc.4feb38","type":"function","z":"a8fdbacb.c502f8","name":"","func":"var LAMP = msg.payload['obj'].str[2].$.val;\nvar LAMP_status=msg.payload['obj'].bool[0].$.val;\nvar LAMP1 = flow.get('LAMP1')||\"false\";\nif(LAMP=='LAMP_1')\nLAMP1=LAMP_status;\n// store the value back\nflow.set('LAMP1',LAMP1);\n// make it part of the outgoing msg object\nmsg.LAMP1=LAMP1;\nvar LAMP0 = flow.get('LAMP0')||\"false\";\nif(LAMP=='LAMP_0')\nLAMP0=LAMP_status;\n// store the value back\nflow.set('LAMP0',LAMP0);\n// make it part of the outgoing msg object\nmsg.LAMP0=LAMP0;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":680,"wires":[["9d7e4fdb.f1c0b"]]},{"id":"c7c59469.88cce8","type":"http response","z":"a8fdbacb.c502f8","name":"","statusCode":"","headers":{},"x":350,"y":640,"wires":[]},{"id":"fd5819b1.d533c8","type":"http in","z":"a8fdbacb.c502f8","name":"","url":"/lamp_status","method":"get","upload":false,"swaggerDoc":"","x":230,"y":800,"wires":[["88606aa9.c4f6b8"]]},{"id":"88606aa9.c4f6b8","type":"function","z":"a8fdbacb.c502f8","name":"","func":"var LAMP0 = flow.get('LAMP0')||\"false\";\nvar LAMP1 = flow.get('LAMP1')||\"false\";\nmsg.payload=LAMP0+','+LAMP1;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":800,"wires":[["93c2349.d1313c8"]]},{"id":"93c2349.d1313c8","type":"http response","z":"a8fdbacb.c502f8","name":"","statusCode":"","headers":{},"x":630,"y":800,"wires":[]},{"id":"9d7e4fdb.f1c0b","type":"debug","z":"a8fdbacb.c502f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"LAMP0","targetType":"msg","x":920,"y":680,"wires":[]},{"id":"4cb9295d.7e8608","type":"function","z":"a8fdbacb.c502f8","name":"","func":"msg.payload=msg.payload['val']\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":160,"wires":[["3541c0ab.09da","d631788d.6b0728"]]},{"id":"d631788d.6b0728","type":"debug","z":"a8fdbacb.c502f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":120,"wires":[]}]