LAB2/server.json
[{"id":"92620ebb.b1ab6","type":"tab","label":"Flow 10","disabled":false,"info":""},{"id":"c8163601.3ddcf8","type":"http in","z":"92620ebb.b1ab6","name":"","url":"location","method":"get","upload":false,"swaggerDoc":"","x":300,"y":300,"wires":[["f8d8bfbf.06de4"]]},{"id":"f8d8bfbf.06de4","type":"function","z":"92620ebb.b1ab6","name":"","func":"var data={\n    \"longitude\":123,\"latitude\":456\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["cca01219.87223"]]},{"id":"cca01219.87223","type":"http response","z":"92620ebb.b1ab6","name":"","statusCode":"","headers":{},"x":770,"y":300,"wires":[]},{"id":"4071e8a3.e55648","type":"http in","z":"92620ebb.b1ab6","name":"","url":"location","method":"post","upload":false,"swaggerDoc":"","x":330,"y":400,"wires":[["dad778fd.556218"]]},{"id":"dad778fd.556218","type":"http response","z":"92620ebb.b1ab6","name":"","statusCode":"","headers":{},"x":580,"y":380,"wires":[]}]