FinalProject/GA.json
[{"id":"921beb87.4e3648","type":"tab","label":"GA","disabled":false,"info":""},{"id":"5b975202.3964dc","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["d326ad4b.c167d"]]},{"id":"d326ad4b.c167d","type":"oM2M-Application","z":"921beb87.4e3648","xSCL":"f4ac5839.dfc378","xA":"a9932f0d.aa62e","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":270,"y":60,"wires":[["a03f1e51.7d0bc"]]},{"id":"a03f1e51.7d0bc","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":610,"y":60,"wires":[[]]},{"id":"1b4464d1.a0986b","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["bb782e00.4a9a4"]]},{"id":"bb782e00.4a9a4","type":"oM2M-Descriptor-Container","z":"921beb87.4e3648","xSCL":"f4ac5839.dfc378","xA":"a9932f0d.aa62e","x":300,"y":120,"wires":[["97d0c070.41e45"]]},{"id":"97d0c070.41e45","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":610,"y":120,"wires":[[]]},{"id":"35273433.ea711c","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["6e39df9a.2ebb8"]]},{"id":"6e39df9a.2ebb8","type":"oM2M-Descriptor-ContentInstance","z":"921beb87.4e3648","xSCL":"f4ac5839.dfc378","xA":"a9932f0d.aa62e","obixType":"","obixLocation":"","x":320,"y":180,"wires":[["3f3444c9.15d19c"]]},{"id":"3f3444c9.15d19c","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":610,"y":180,"wires":[[]]},{"id":"c8bab533.a55318","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":240,"wires":[["67405b22.3661f4"]]},{"id":"67405b22.3661f4","type":"oM2M-Data-Container","z":"921beb87.4e3648","xSCL":"f4ac5839.dfc378","xA":"a9932f0d.aa62e","maxNrOfInstances":"10","obixAnnounce":true,"x":280,"y":240,"wires":[["cb0b98ca.1736d8"]]},{"id":"cb0b98ca.1736d8","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":610,"y":240,"wires":[[]]},{"id":"39b9692c.ac4036","type":"oM2M-Data-ContentInstance","z":"921beb87.4e3648","xSCL":"f4ac5839.dfc378","xA":"a9932f0d.aa62e","obixCategory":"","x":460,"y":340,"wires":[["7a2bcc52.f687e4"]]},{"id":"6aaad530.c6102c","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["ec27e3f9.61bda"]]},{"id":"7a2bcc52.f687e4","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":650,"y":340,"wires":[[]]},{"id":"ec27e3f9.61bda","type":"function","z":"921beb87.4e3648","name":"醫院1 剩下的醫療資源","func":"var data = { \n    type:'string',\n    unit:'resource data',\n    data: '{\"A\":6,\"B\":6,\"C\":6,\"D\":6}'\n\n};\nmsg.payload= JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":340,"wires":[["39b9692c.ac4036"]]},{"id":"2e42218a.7c372e","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":60,"wires":[["9a0884a.6f5dc78"]]},{"id":"9a0884a.6f5dc78","type":"oM2M-Application","z":"921beb87.4e3648","xSCL":"53b24e04.ec98","xA":"a9932f0d.aa62e","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":990,"y":60,"wires":[["561a446.00db3bc"]]},{"id":"561a446.00db3bc","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1330,"y":60,"wires":[[]]},{"id":"6726a4d8.67f6cc","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":120,"wires":[["8e32dfd9.5daa"]]},{"id":"8e32dfd9.5daa","type":"oM2M-Descriptor-Container","z":"921beb87.4e3648","xSCL":"53b24e04.ec98","xA":"a9932f0d.aa62e","x":1020,"y":120,"wires":[["773e5d3c.dd66d4"]]},{"id":"773e5d3c.dd66d4","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1330,"y":120,"wires":[[]]},{"id":"81f016f2.77e0f8","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":180,"wires":[["8f952af3.269fc8"]]},{"id":"8f952af3.269fc8","type":"oM2M-Descriptor-ContentInstance","z":"921beb87.4e3648","xSCL":"53b24e04.ec98","xA":"a9932f0d.aa62e","obixType":"","obixLocation":"","x":1040,"y":180,"wires":[["15f5a838.0b3098"]]},{"id":"15f5a838.0b3098","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1330,"y":180,"wires":[[]]},{"id":"5e508f89.02306","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":240,"wires":[["6a63de44.23549"]]},{"id":"6a63de44.23549","type":"oM2M-Data-Container","z":"921beb87.4e3648","xSCL":"53b24e04.ec98","xA":"a9932f0d.aa62e","maxNrOfInstances":"10","obixAnnounce":true,"x":1000,"y":240,"wires":[["efcde76.902e918"]]},{"id":"efcde76.902e918","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1250,"y":240,"wires":[[]]},{"id":"3a04bebd.fd14c2","type":"oM2M-Data-ContentInstance","z":"921beb87.4e3648","xSCL":"53b24e04.ec98","xA":"a9932f0d.aa62e","obixCategory":"","x":1180,"y":340,"wires":[["c8dbfd1e.d799d"]]},{"id":"7d8f5a93.70b0f4","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":340,"wires":[["ff45d76.314c628"]]},{"id":"c8dbfd1e.d799d","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1370,"y":340,"wires":[[]]},{"id":"ff45d76.314c628","type":"function","z":"921beb87.4e3648","name":"醫院2 剩下的醫療資源","func":"var data = { \n    type:'string',\n    unit:'resource data',\n    data: '{\"A\":3,\"B\":6,\"D\":6}'\n\n};\nmsg.payload= JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":340,"wires":[["3a04bebd.fd14c2"]]},{"id":"5561ad25.477c04","type":"comment","z":"921beb87.4e3648","name":"gscl1 Resource:ABCD","info":"","x":160,"y":20,"wires":[]},{"id":"cf2349a0.4321b8","type":"comment","z":"921beb87.4e3648","name":"gscl2 Resource:ABD","info":"","x":830,"y":20,"wires":[]},{"id":"b9243ab2.92db38","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["3a158c3.318f874"]]},{"id":"3a158c3.318f874","type":"oM2M-Application","z":"921beb87.4e3648","xSCL":"152a6d8c.c95c12","xA":"a9932f0d.aa62e","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":270,"y":440,"wires":[["80c3f66.09f4608"]]},{"id":"80c3f66.09f4608","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":610,"y":440,"wires":[[]]},{"id":"a5a3a15c.77e2b","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["9787ce74.b8859"]]},{"id":"9787ce74.b8859","type":"oM2M-Descriptor-Container","z":"921beb87.4e3648","xSCL":"152a6d8c.c95c12","xA":"a9932f0d.aa62e","x":300,"y":500,"wires":[["e669cda8.b50d9"]]},{"id":"e669cda8.b50d9","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":610,"y":500,"wires":[[]]},{"id":"e9be7b30.b6c1c8","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":560,"wires":[["e37257d9.685ac8"]]},{"id":"e37257d9.685ac8","type":"oM2M-Descriptor-ContentInstance","z":"921beb87.4e3648","xSCL":"152a6d8c.c95c12","xA":"a9932f0d.aa62e","obixType":"","obixLocation":"","x":320,"y":560,"wires":[["11bce837.cfc618"]]},{"id":"11bce837.cfc618","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":610,"y":560,"wires":[[]]},{"id":"70fc8448.c6a30c","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":620,"wires":[["f5c85637.365118"]]},{"id":"f5c85637.365118","type":"oM2M-Data-Container","z":"921beb87.4e3648","xSCL":"152a6d8c.c95c12","xA":"a9932f0d.aa62e","maxNrOfInstances":"10","obixAnnounce":true,"x":280,"y":620,"wires":[["3596af62.0ee8c"]]},{"id":"3596af62.0ee8c","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":610,"y":620,"wires":[[]]},{"id":"8546a28a.ab315","type":"oM2M-Data-ContentInstance","z":"921beb87.4e3648","xSCL":"152a6d8c.c95c12","xA":"a9932f0d.aa62e","obixCategory":"","x":460,"y":720,"wires":[["dc12948.2122868"]]},{"id":"2b10ad38.56e072","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":720,"wires":[["facf7db8.4305c"]]},{"id":"dc12948.2122868","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":650,"y":720,"wires":[[]]},{"id":"facf7db8.4305c","type":"function","z":"921beb87.4e3648","name":"醫院3 剩下的醫療資源","func":"var data = { \n    type:'string',\n    unit:'resource data',\n    data: '{\"B\":6,\"C\":6,\"D\":6}'\n\n};\nmsg.payload= JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":720,"wires":[["8546a28a.ab315"]]},{"id":"e5100a24.573ab8","type":"comment","z":"921beb87.4e3648","name":"gscl3 Resource:BCD","info":"","x":150,"y":400,"wires":[]},{"id":"932c7117.2f5f9","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":440,"wires":[["6ba5128e.f4a15c"]]},{"id":"6ba5128e.f4a15c","type":"oM2M-Application","z":"921beb87.4e3648","xSCL":"4a4ff8b6.960fa8","xA":"a9932f0d.aa62e","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":970,"y":440,"wires":[["77d4691f.431948"]]},{"id":"77d4691f.431948","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1310,"y":440,"wires":[[]]},{"id":"17c34018.4ca8","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":500,"wires":[["abad7397.c927b"]]},{"id":"abad7397.c927b","type":"oM2M-Descriptor-Container","z":"921beb87.4e3648","xSCL":"4a4ff8b6.960fa8","xA":"a9932f0d.aa62e","x":1000,"y":500,"wires":[["6b49bbae.e462a4"]]},{"id":"6b49bbae.e462a4","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1310,"y":500,"wires":[[]]},{"id":"41005ed1.f4d94","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":560,"wires":[["10cfcd93.1f1802"]]},{"id":"10cfcd93.1f1802","type":"oM2M-Descriptor-ContentInstance","z":"921beb87.4e3648","xSCL":"4a4ff8b6.960fa8","xA":"a9932f0d.aa62e","obixType":"","obixLocation":"","x":1020,"y":560,"wires":[["db16f515.d78668"]]},{"id":"db16f515.d78668","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1310,"y":560,"wires":[[]]},{"id":"260e29dc.88dad6","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":620,"wires":[["25114fb0.eecaa"]]},{"id":"25114fb0.eecaa","type":"oM2M-Data-Container","z":"921beb87.4e3648","xSCL":"4a4ff8b6.960fa8","xA":"a9932f0d.aa62e","maxNrOfInstances":"10","obixAnnounce":true,"x":980,"y":620,"wires":[["192b2c35.4f6c84"]]},{"id":"192b2c35.4f6c84","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1310,"y":620,"wires":[[]]},{"id":"c06dd9f8.eedae8","type":"oM2M-Data-ContentInstance","z":"921beb87.4e3648","xSCL":"4a4ff8b6.960fa8","xA":"a9932f0d.aa62e","obixCategory":"","x":1160,"y":720,"wires":[["26442c45.b29714"]]},{"id":"c4459a3a.41c128","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":720,"wires":[["b7cf1d3.eef04e"]]},{"id":"26442c45.b29714","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":1350,"y":720,"wires":[[]]},{"id":"b7cf1d3.eef04e","type":"function","z":"921beb87.4e3648","name":"醫院4 剩下的醫療資源","func":"var data = { \n    type:'string',\n    unit:'resource data',\n    data: '{\"A\":5,\"C\":6,\"D\":6}'\n\n};\nmsg.payload= JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":720,"wires":[["c06dd9f8.eedae8"]]},{"id":"24518c13.ae3ca4","type":"comment","z":"921beb87.4e3648","name":"gscl4 Resource:ACD","info":"","x":850,"y":400,"wires":[]},{"id":"9f75c2a7.87d79","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":840,"wires":[["e68fe919.9196d8"]]},{"id":"e68fe919.9196d8","type":"oM2M-Application","z":"921beb87.4e3648","xSCL":"70b5bb04.5b1544","xA":"a9932f0d.aa62e","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":250,"y":840,"wires":[["ee47c12f.8d64e"]]},{"id":"ee47c12f.8d64e","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":590,"y":840,"wires":[[]]},{"id":"844d0b19.8601d8","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":900,"wires":[["83b0abd3.f0f8d8"]]},{"id":"83b0abd3.f0f8d8","type":"oM2M-Descriptor-Container","z":"921beb87.4e3648","xSCL":"70b5bb04.5b1544","xA":"a9932f0d.aa62e","x":280,"y":900,"wires":[["607040cf.bb577"]]},{"id":"607040cf.bb577","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":590,"y":900,"wires":[[]]},{"id":"97f71ce8.d714f","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":960,"wires":[["1155d1ce.94963e"]]},{"id":"1155d1ce.94963e","type":"oM2M-Descriptor-ContentInstance","z":"921beb87.4e3648","xSCL":"70b5bb04.5b1544","xA":"a9932f0d.aa62e","obixType":"","obixLocation":"","x":300,"y":960,"wires":[["b976187f.efb5f8"]]},{"id":"b976187f.efb5f8","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":590,"y":960,"wires":[[]]},{"id":"5b019de6.e8ff34","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1020,"wires":[["cecf3c59.a2c29"]]},{"id":"cecf3c59.a2c29","type":"oM2M-Data-Container","z":"921beb87.4e3648","xSCL":"70b5bb04.5b1544","xA":"a9932f0d.aa62e","maxNrOfInstances":"10","obixAnnounce":true,"x":260,"y":1020,"wires":[["d8e3de9a.8188"]]},{"id":"d8e3de9a.8188","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":590,"y":1020,"wires":[[]]},{"id":"ecc297f5.f03988","type":"oM2M-Data-ContentInstance","z":"921beb87.4e3648","xSCL":"70b5bb04.5b1544","xA":"a9932f0d.aa62e","obixCategory":"","x":440,"y":1120,"wires":[["8bc69215.ecf55"]]},{"id":"a4f83133.8fd5d","type":"inject","z":"921beb87.4e3648","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1120,"wires":[["473e7ad0.ba5e14"]]},{"id":"8bc69215.ecf55","type":"http request","z":"921beb87.4e3648","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":1120,"wires":[[]]},{"id":"473e7ad0.ba5e14","type":"function","z":"921beb87.4e3648","name":"醫院5 剩下的醫療資源","func":"var data = { \n    type:'string',\n    unit:'resource data',\n    data: '{\"A\":6,\"B\":6,\"C\":6}'\n\n};\nmsg.payload= JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1120,"wires":[["ecc297f5.f03988"]]},{"id":"f599f872.cd53b8","type":"comment","z":"921beb87.4e3648","name":"gscl5  Resource:ABC","info":"","x":130,"y":800,"wires":[]},{"id":"f4ac5839.dfc378","type":"xSCL","z":"","sclId":"gscl1","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"a9932f0d.aa62e","type":"xA","z":"","appId":"Resource","contactUrl":"localhost:1880"},{"id":"53b24e04.ec98","type":"xSCL","z":"","sclId":"gscl2","host":"localhost","port":"8282","baseUrl":"/om2m/"},{"id":"152a6d8c.c95c12","type":"xSCL","z":"","sclId":"gscl3","host":"localhost","port":"8383","baseUrl":"/om2m/"},{"id":"4a4ff8b6.960fa8","type":"xSCL","z":"","sclId":"gscl4","host":"localhost","port":"8484","baseUrl":"/om2m/"},{"id":"70b5bb04.5b1544","type":"xSCL","z":"","sclId":"gscl5","host":"localhost","port":"8585","baseUrl":"/om2m/"}]