FinalProject/NA.json
[{"id":"ab6ce829.b4c958","type":"tab","label":"NA","disabled":false,"info":""},{"id":"9c2c829.cd5278","type":"http in","z":"ab6ce829.b4c958","name":"","url":"/Case","method":"post","upload":false,"swaggerDoc":"","x":70,"y":240,"wires":[["5a58e2be.ec992c","be19b0b7.ff0d6","b916f755.120e68"]]},{"id":"5a58e2be.ec992c","type":"file in","z":"ab6ce829.b4c958","name":"載入病例","filename":"D:\\om2m\\FinalProject\\Case.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":240,"wires":[["849aabf1.445478"]]},{"id":"e164f240.cc41c","type":"function","z":"ab6ce829.b4c958","name":"計算相似度","func":"var Case = context.get('Case')||0;\nvar resource = context.get('resource')||0;\n\nif (msg.payload.indexOf(\"symptom\") >= 0){//symptom\n    var mfsim_old=0,mfsim=0,symptom=\"\",w1=0.5,w2=0.4,w3=0.1;\n    var All_Case=msg.payload.replace(/{/g,\"\").replace(/}/g,\"\").replace(/\\\"Option1\\\":/g,\"\").replace(/\\\"Option2\\\":/g,\"\").replace(/\\\"Option3\\\":/g,\"\").replace(/\\\"symptom\\\":\\\"/g,\"\").replace(/\\\"/g,\"\").split(',');\n    var need_resource=\"123\";\n    for(i=0;i<All_Case.length/4;i++){\n        var mf1=1/(1+Math.abs(parseInt(All_Case[i*4])-parseInt(Case[0])));\n        var mf2=1/(1+Math.abs(parseInt(All_Case[i*4+1])-parseInt(Case[1])));\n        var mf3=1/(1+Math.abs(parseInt(All_Case[i*4+2])-parseInt(Case[2])));\n        mfsim=w1*mf1+w2*mf2+w3*mf3;\n        mfsim=mfsim.toFixed(2);\n        if (mfsim>mfsim_old){\n            mfsim_old=mfsim;\n            symptom=All_Case[i*4+3];\n        }\n    }\n    var arr = Object.keys(resource);\n    for(i=1;i<arr.length;i++){\n        var arr1 = Object.keys(resource[i]);\n        for(j=0;j<arr1.length;j++){\n            if (symptom==resource[i].sympt[j]){\n                need_resource=resource[i].resource;\n            }\n        }\n    }\n    \n    //msg.payload=mfsim_old+symptom;\n    msg.payload=symptom+\",\"+need_resource+\",\"+mfsim_old;\n}else if(msg.payload[0].name==\"medical\"){//resource\n    resource=msg.payload;\n    context.set('resource',resource);\n    return;\n}else{// case\n    Case=msg.payload.replace(\"{\",\"\").replace(\"}\",\"\").replace(\"\\\"Option1\\\":\",\"\").replace(\"\\\"Option2\\\":\",\"\").replace(\"\\\"Option3\\\":\",\"\").split(',')\n    context.set('Case',Case);\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":240,"wires":[["bf648238.333c1"]]},{"id":"b916f755.120e68","type":"file in","z":"ab6ce829.b4c958","name":"載入resource ontology","filename":"D:\\om2m\\FinalProject\\resource.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":420,"wires":[["2483538b.0ca64c"]]},{"id":"2483538b.0ca64c","type":"json","z":"ab6ce829.b4c958","name":"","property":"payload","action":"","pretty":false,"x":650,"y":420,"wires":[["e164f240.cc41c"]]},{"id":"be19b0b7.ff0d6","type":"function","z":"ab6ce829.b4c958","name":"接收app輸入的患者症狀","func":"msg.payload=msg.payload.msg;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":80,"wires":[["e164f240.cc41c"]]},{"id":"849aabf1.445478","type":"json","z":"ab6ce829.b4c958","name":"","property":"payload","action":"str","pretty":false,"x":670,"y":240,"wires":[["2a5dd99.5542e26"]]},{"id":"2a5dd99.5542e26","type":"delay","z":"ab6ce829.b4c958","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":240,"wires":[["e164f240.cc41c"]]},{"id":"bf648238.333c1","type":"http response","z":"ab6ce829.b4c958","name":"","statusCode":"","headers":{},"x":1270,"y":240,"wires":[]},{"id":"3f9dbb56.81e704","type":"http in","z":"ab6ce829.b4c958","name":"","url":"/need","method":"post","upload":false,"swaggerDoc":"","x":70,"y":740,"wires":[["982b2775.64e778","cc33a864.c347a8","97652357.2958b","7a9a84e6.7b46ac","68f4aad6.e1cfc4","adc05484.b68778","efabde78.02fe4"]]},{"id":"982b2775.64e778","type":"function","z":"ab6ce829.b4c958","name":"接收患者需要的醫療資源","func":"msg.payload=msg.payload.msg;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":580,"wires":[["7753abbf.42ec94"]]},{"id":"7753abbf.42ec94","type":"function","z":"ab6ce829.b4c958","name":"分配最適合的醫院","func":"var need = context.get('need')||0;\nvar need_resource = context.get('need_resource')||0;\nvar lalo = context.get('lalo')||0;\nif (msg.payload.indexOf(\"need\") >= 0){//user need\n    need=msg.payload.split(',')[0].replace(\"{\\\"need\\\":\",\"\");\n    need_resource=msg.payload.split(',')[1].replace(/\\\"/g,\"\").replace(\"resource:\",\"\");\n    lalo=msg.payload.split(',')[2].replace(\"\\\"la\\\":\",\"\")+','+msg.payload.split(',')[3].replace(\"\\\"lo\\\":\",\"\").replace(\"}\",\"\");\n    if(need_resource==\"CPM\"){need_resource=\"A\";}\n    if(need_resource==\"電子刺激器\"){need_resource=\"B\";}\n    if(need_resource==\"肌電測試儀\"){need_resource=\"C\";}\n    if(need_resource==\"醫療人力資源\"){need_resource=\"D\";}\n    context.set('need',need);\n    context.set('need_resource',need_resource);\n    context.set('lalo',lalo);\n    return;\n}else{// find\n    if(need==1){\n        var arr = Object.keys(msg.payload);\n        var min=10;\n        var pick;\n        for(i=0;i<arr.length;i++){\n            if(msg.payload[i][need_resource]!=null){\n                if(min>msg.payload[i][need_resource].cost && msg.payload[i][need_resource].remain!==0){\n                    min=msg.payload[i][need_resource].cost;\n                    pick=i;\n                }\n            }\n        }\n        if (pick!==undefined){\n            msg.payload=msg.payload[pick].name;\n        }else{\n            msg.payload=\"暫時無資源\"\n        }\n\n    }else if(need==2){\n        var lat1=lalo.split(',')[0];\n        var lng1=lalo.split(',')[1];\n        var EARTH_RADIUS = 6378.137;\n        var min2=9999999;\n        var pick2;\n        var arr2 = Object.keys(msg.payload);\n        for(i=0;i<arr2.length;i++){\n            if(msg.payload[i][need_resource]!=null){\n                var lng2=msg.payload[i].locations.lo;\n                var lat2=msg.payload[i].locations.la;\n                var radLat1 = lat1* Math.PI / 180.0;\n                var radLat2 = lat2* Math.PI / 180.0;\n                var a = radLat1 - radLat2;\n                var  b = lng1* Math.PI / 180.0 - lng2* Math.PI / 180.0;\n                var s = 2 * Math.asin(Math.sqrt(Math.pow(Math.sin(a/2),2) +\n                Math.cos(radLat1)*Math.cos(radLat2)*Math.pow(Math.sin(b/2),2)));\n                s = s *6378.137 ;// EARTH_RADIUS;\n                s = Math.round(s * 10000) / 10000;\n                if(s<min2&& msg.payload[i][need_resource].remain!==0){\n                    min2=s;\n                    pick2=i;\n                }\n            }\n        }\n        if (pick2!==undefined){\n            msg.payload=msg.payload[pick2].name;\n        }else{\n            msg.payload=\"暫時無資源\"\n        }\n        //msg.payload=s;\n    }else if(need==3){\n        var arr3 = Object.keys(msg.payload);\n        var max=0;\n        var pick3;\n        for(i=0;i<arr3.length;i++){\n            if(msg.payload[i][need_resource]!=null){\n                if(max<msg.payload[i][need_resource].level&& msg.payload[i][need_resource].remain!==0){\n                    max=msg.payload[i][need_resource].level;\n                    pick3=i;\n                }\n            }\n        }\n        if (pick3!==undefined){\n            msg.payload=msg.payload[pick3].name;\n        }else{\n            msg.payload=\"暫時無資源\"\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":580,"wires":[["e46785d1.5c73f8"]]},{"id":"e46785d1.5c73f8","type":"http response","z":"ab6ce829.b4c958","name":"","statusCode":"","headers":{},"x":1470,"y":580,"wires":[]},{"id":"adc05484.b68778","type":"http request","z":"ab6ce829.b4c958","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8585/om2m/gscl5/applications/Resource/containers/DATA/contentInstances/latest/content","tls":"","persist":false,"proxy":"","authType":"basic","x":330,"y":980,"wires":[["4507aae5.509684"]]},{"id":"4507aae5.509684","type":"xml","z":"ab6ce829.b4c958","name":"","property":"payload","attr":"","chr":"","x":510,"y":980,"wires":[["dffd4d09.32aa1"]]},{"id":"dffd4d09.32aa1","type":"function","z":"ab6ce829.b4c958","name":"","func":"msg.payload='5'+msg.payload.obj.str[3].$.val;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":980,"wires":[["5f4e19c6.322f38"]]},{"id":"68f4aad6.e1cfc4","type":"http request","z":"ab6ce829.b4c958","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8484/om2m/gscl4/applications/Resource/containers/DATA/contentInstances/latest/content","tls":"","persist":false,"proxy":"","authType":"basic","x":330,"y":920,"wires":[["4c3b4079.34fd9"]]},{"id":"4c3b4079.34fd9","type":"xml","z":"ab6ce829.b4c958","name":"","property":"payload","attr":"","chr":"","x":510,"y":920,"wires":[["445b3022.99cea"]]},{"id":"445b3022.99cea","type":"function","z":"ab6ce829.b4c958","name":"","func":"msg.payload='4'+msg.payload.obj.str[3].$.val;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":920,"wires":[["5f4e19c6.322f38"]]},{"id":"7a9a84e6.7b46ac","type":"http request","z":"ab6ce829.b4c958","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8383/om2m/gscl3/applications/Resource/containers/DATA/contentInstances/latest/content","tls":"","persist":false,"proxy":"","authType":"basic","x":330,"y":860,"wires":[["8cf40054.0e5bb"]]},{"id":"8cf40054.0e5bb","type":"xml","z":"ab6ce829.b4c958","name":"","property":"payload","attr":"","chr":"","x":510,"y":860,"wires":[["b0f163c7.9b865"]]},{"id":"b0f163c7.9b865","type":"function","z":"ab6ce829.b4c958","name":"","func":"msg.payload='3'+msg.payload.obj.str[3].$.val;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":860,"wires":[["5f4e19c6.322f38"]]},{"id":"97652357.2958b","type":"http request","z":"ab6ce829.b4c958","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8282/om2m/gscl2/applications/Resource/containers/DATA/contentInstances/latest/content","tls":"","persist":false,"proxy":"","authType":"basic","x":330,"y":820,"wires":[["d57f8c3.e36807"]]},{"id":"d57f8c3.e36807","type":"xml","z":"ab6ce829.b4c958","name":"","property":"payload","attr":"","chr":"","x":510,"y":820,"wires":[["f323920a.8a156"]]},{"id":"f323920a.8a156","type":"function","z":"ab6ce829.b4c958","name":"","func":"msg.payload='2'+msg.payload.obj.str[3].$.val;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":820,"wires":[["5f4e19c6.322f38"]]},{"id":"cc33a864.c347a8","type":"http request","z":"ab6ce829.b4c958","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://127.0.0.1:8181/om2m/gscl1/applications/Resource/containers/DATA/contentInstances/latest/content","tls":"","persist":false,"proxy":"","authType":"basic","x":330,"y":760,"wires":[["b71780fc.70795"]]},{"id":"b71780fc.70795","type":"xml","z":"ab6ce829.b4c958","name":"","property":"payload","attr":"","chr":"","x":510,"y":760,"wires":[["166bf08a.e13d7f"]]},{"id":"166bf08a.e13d7f","type":"function","z":"ab6ce829.b4c958","name":"","func":"msg.payload='1'+msg.payload.obj.str[3].$.val;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":760,"wires":[["5f4e19c6.322f38"]]},{"id":"6c922263.39427c","type":"function","z":"ab6ce829.b4c958","name":"更新醫院資訊","func":"var hospital = context.get('hospital')||0;\nvar hospital_num = context.get('hospital_num')||0;\nif (msg.payload[0].locations !=null){\n    hospital=msg.payload;\n    context.set('hospital',hospital);\n    return;\n}else{\n    hospital_num++;\n    context.set('hospital_num',hospital_num);\n    var h=msg.payload.substr(0, 1);\n    var arr=msg.payload.replace(/\\\"/g,\"\").replace(\"}\",\"\").split('{')[1].split(',')\n    for(i=0;i<arr.length;i++){\n        hospital[h-1][arr[i].split(\":\")[0]].remain=parseInt(arr[i].split(\":\")[1]);\n    }\n    context.set('hospital',hospital);\n    if(hospital_num==5){\n        hospital_num=0;\n        context.set('hospital_num',hospital_num);\n        msg.payload=hospital;\n        return msg\n    }else{\n        return;\n    }\n}","outputs":1,"noerr":0,"x":1080,"y":1040,"wires":[["5ec4704d.2758e","133ba56e.0323eb"]]},{"id":"5f4e19c6.322f38","type":"delay","z":"ab6ce829.b4c958","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":930,"y":960,"wires":[["6c922263.39427c"]]},{"id":"646006.f087cffc","type":"json","z":"ab6ce829.b4c958","name":"","property":"payload","action":"","pretty":false,"x":770,"y":1200,"wires":[["6c922263.39427c"]]},{"id":"efabde78.02fe4","type":"file in","z":"ab6ce829.b4c958","name":"","filename":"D:\\om2m\\FinalProject\\hospital.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":380,"y":1180,"wires":[["646006.f087cffc"]]},{"id":"5ec4704d.2758e","type":"delay","z":"ab6ce829.b4c958","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":840,"wires":[["7753abbf.42ec94"]]},{"id":"12226053.36c08","type":"inject","z":"ab6ce829.b4c958","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":40,"wires":[["eced0cd3.a58e5"]]},{"id":"eced0cd3.a58e5","type":"oM2M-Application","z":"ab6ce829.b4c958","xSCL":"6b955e98.1b13c","xA":"59705967.364f48","obixType":"NETWORK APPLICATION","obixCategory":"demo","obixLocation":"Cloud","obixAnnounce":true,"x":350,"y":40,"wires":[["101fc9de.919436"]]},{"id":"101fc9de.919436","type":"http request","z":"ab6ce829.b4c958","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":510,"y":40,"wires":[["6c333922.16d168"]]},{"id":"6c333922.16d168","type":"debug","z":"ab6ce829.b4c958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","x":780,"y":40,"wires":[]},{"id":"9bb0b0ab.9a2fb","type":"debug","z":"ab6ce829.b4c958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1120,"y":1440,"wires":[]},{"id":"133ba56e.0323eb","type":"json","z":"ab6ce829.b4c958","name":"","property":"payload","action":"","pretty":false,"x":1170,"y":1220,"wires":[["dcb930b9.81893"]]},{"id":"dcb930b9.81893","type":"file","z":"ab6ce829.b4c958","name":"","filename":"D:\\om2m\\FinalProject\\hospital.json","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1440,"y":1220,"wires":[[]]},{"id":"ecd2f04d.5ea06","type":"comment","z":"ab6ce829.b4c958","name":"以下5個node負責 取得gscl上的剩餘醫療資源數量","info":"","x":460,"y":720,"wires":[]},{"id":"9a2713b7.ceb52","type":"comment","z":"ab6ce829.b4c958","name":"載入舊醫院資訊","info":"","x":320,"y":1120,"wires":[]},{"id":"d448a060.ba6c1","type":"comment","z":"ab6ce829.b4c958","name":"儲存最新的醫院資訊","info":"","x":1370,"y":1160,"wires":[]},{"id":"e7c8fc5a.0a111","type":"comment","z":"ab6ce829.b4c958","name":"傳回app","info":"","x":1460,"y":540,"wires":[]},{"id":"6b955e98.1b13c","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"59705967.364f48","type":"xA","z":"","appId":"MY_NETWORK_APPLICATION","contactUrl":"localhost:1880"}]