LAB3/GA.json
[{"id":"167ce4ea.1f5dab","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dcc4cf21.a1eb4","type":"inject","z":"167ce4ea.1f5dab","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["cc54a53b.a0b958"]]},{"id":"cc54a53b.a0b958","type":"oM2M-Application","z":"167ce4ea.1f5dab","xSCL":"c15d74e9.0fa6b8","xA":"8d26c5de.d86a78","obixType":"Demo","obixCategory":"GatewayApplication","obixLocation":"NCKU","obixAnnounce":true,"x":310,"y":100,"wires":[["d0c6b180.dce11"]]},{"id":"d0c6b180.dce11","type":"http request","z":"167ce4ea.1f5dab","name":"","method":"POST","ret":"txt","url":"","tls":"","x":650,"y":100,"wires":[["ba9cba98.c9a1e8"]]},{"id":"2c8a9e6c.538b02","type":"inject","z":"167ce4ea.1f5dab","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["45b2bd42.233d54"]]},{"id":"45b2bd42.233d54","type":"oM2M-Descriptor-Container","z":"167ce4ea.1f5dab","xSCL":"c15d74e9.0fa6b8","xA":"8d26c5de.d86a78","x":340,"y":160,"wires":[["f04c5b32.f84cc8"]]},{"id":"f04c5b32.f84cc8","type":"http request","z":"167ce4ea.1f5dab","name":"","method":"POST","ret":"txt","url":"","tls":"","x":650,"y":160,"wires":[["ba9cba98.c9a1e8"]]},{"id":"82d804f7.7c40c8","type":"inject","z":"167ce4ea.1f5dab","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["ffa0bce9.2704f"]]},{"id":"ffa0bce9.2704f","type":"oM2M-Descriptor-ContentInstance","z":"167ce4ea.1f5dab","xSCL":"c15d74e9.0fa6b8","xA":"8d26c5de.d86a78","obixType":"","obixLocation":"","x":360,"y":220,"wires":[["2a10e8af.a6cb78"]]},{"id":"2a10e8af.a6cb78","type":"http request","z":"167ce4ea.1f5dab","name":"","method":"POST","ret":"txt","url":"","tls":"","x":650,"y":220,"wires":[["ba9cba98.c9a1e8"]]},{"id":"3c46f5b0.ece36a","type":"inject","z":"167ce4ea.1f5dab","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":280,"wires":[["78249b14.c9b694"]]},{"id":"78249b14.c9b694","type":"oM2M-Data-Container","z":"167ce4ea.1f5dab","xSCL":"c15d74e9.0fa6b8","xA":"8d26c5de.d86a78","maxNrOfInstances":"10","obixAnnounce":true,"x":320,"y":280,"wires":[["8efa4595.a117e8","23a6240a.7228fc"]]},{"id":"8efa4595.a117e8","type":"http request","z":"167ce4ea.1f5dab","name":"","method":"POST","ret":"txt","url":"","tls":"","x":650,"y":280,"wires":[["ba9cba98.c9a1e8"]]},{"id":"ba9cba98.c9a1e8","type":"debug","z":"167ce4ea.1f5dab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","x":1280,"y":280,"wires":[]},{"id":"3c582011.4131e","type":"oM2M-Data-ContentInstance","z":"167ce4ea.1f5dab","xSCL":"c15d74e9.0fa6b8","xA":"8d26c5de.d86a78","obixCategory":"","x":500,"y":380,"wires":[["9132aa85.758898"]]},{"id":"efe9bed2.6ae4a","type":"inject","z":"167ce4ea.1f5dab","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":380,"wires":[["e7f3d36c.d4b11"]]},{"id":"9132aa85.758898","type":"http request","z":"167ce4ea.1f5dab","name":"","method":"POST","ret":"txt","url":"","tls":"","x":690,"y":380,"wires":[["ba9cba98.c9a1e8"]]},{"id":"e7f3d36c.d4b11","type":"function","z":"167ce4ea.1f5dab","name":"My Data","func":"var data = { \n    type:'gps',\n    unit:'float',\n    latitude: '2',\n    longitude: '3' \n};\nmsg.payload= JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["3c582011.4131e"]]},{"id":"23a6240a.7228fc","type":"debug","z":"167ce4ea.1f5dab","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1290,"y":420,"wires":[]},{"id":"34f575e2.0ccbca","type":"http in","z":"167ce4ea.1f5dab","name":"Post Sensor Data","url":"/sensorData","method":"post","upload":false,"swaggerDoc":"","x":160,"y":520,"wires":[["7fd020d1.87251","2fd47569.00d61a"]]},{"id":"7fd020d1.87251","type":"function","z":"167ce4ea.1f5dab","name":"Input Data","func":"var data = { \n    type:'gps',\n    unit:'float',\n    latitude: msg.payload.latitude,\n    longitude: msg.payload.longtitude \n}; \nmsg.payload= JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":520,"wires":[["a45841df.560a8"]]},{"id":"a45841df.560a8","type":"oM2M-Data-ContentInstance","z":"167ce4ea.1f5dab","xSCL":"c15d74e9.0fa6b8","xA":"8d26c5de.d86a78","obixCategory":"","x":600,"y":520,"wires":[["8e1a9a7f.9acf58","23a6240a.7228fc"]]},{"id":"8e1a9a7f.9acf58","type":"http request","z":"167ce4ea.1f5dab","name":"","method":"POST","ret":"txt","url":"","tls":"","x":850,"y":520,"wires":[["ba9cba98.c9a1e8"]]},{"id":"2fd47569.00d61a","type":"http response","z":"167ce4ea.1f5dab","name":"Http Response","statusCode":"","headers":{},"x":420,"y":640,"wires":[]},{"id":"c15d74e9.0fa6b8","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"8d26c5de.d86a78","type":"xA","z":"","appId":"MY_SENSOR","contactUrl":"localhost:1880"}]