LAB3/NA.json
[{"id":"61e2a622.c59ed8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"44877cdc.6eef54","type":"inject","z":"61e2a622.c59ed8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":80,"wires":[["f539bdf3.6b0ef"]]},{"id":"f539bdf3.6b0ef","type":"oM2M-Application","z":"61e2a622.c59ed8","xSCL":"ba59a42e.757d38","xA":"6150302f.e8d14","obixType":"NETWORK APPLICATION","obixCategory":"demo","obixLocation":"Cloud","obixAnnounce":true,"x":290,"y":80,"wires":[["4b8543f5.2c2f2c"]]},{"id":"4b8543f5.2c2f2c","type":"http request","z":"61e2a622.c59ed8","name":"","method":"POST","ret":"txt","url":"","tls":"","x":450,"y":80,"wires":[["6222e5b9.da66fc"]]},{"id":"6222e5b9.da66fc","type":"debug","z":"61e2a622.c59ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","x":720,"y":80,"wires":[]},{"id":"947f917c.1bc86","type":"inject","z":"61e2a622.c59ed8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["a06da8ac.c0e118"]]},{"id":"a06da8ac.c0e118","type":"oM2M-Subscription","z":"61e2a622.c59ed8","xSCL":"480ee326.c6268c","xA":"6150302f.e8d14","contactPath":"/notification","filterType":"","filterCriteria":"content","x":290,"y":120,"wires":[["d2a56fcd.9bf3","50b5d253.664c7c"]]},{"id":"d2a56fcd.9bf3","type":"http request","z":"61e2a622.c59ed8","name":"","method":"POST","ret":"txt","url":"http://127.0.0.1:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances/subscriptions","tls":"","x":450,"y":120,"wires":[["6222e5b9.da66fc"]]},{"id":"8d4338ba.fed3e8","type":"http in","z":"61e2a622.c59ed8","name":"","url":"/notification","method":"post","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["770b8ff2.5a7d6","19750fc0.0c3ea"]]},{"id":"770b8ff2.5a7d6","type":"http response","z":"61e2a622.c59ed8","name":"","statusCode":"","headers":{},"x":450,"y":300,"wires":[]},{"id":"955da8de.9567a8","type":"function","z":"61e2a622.c59ed8","name":"","func":"var notification = msg.payload['om2m:notify'];\nvar representation = notification['om2m:representation'];\nvar text = representation[0]._;\nvar dataObj = new Buffer(text, 'base64').toString('ascii');\nmsg.payload = dataObj;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":240,"wires":[["e3a2f8a7.90e8e8"]]},{"id":"e3a2f8a7.90e8e8","type":"file","z":"61e2a622.c59ed8","name":"","filename":"D:\\om2m no eclipse\\NA\\notification.xml","appendNewline":true,"createDir":true,"overwriteFile":"true","x":920,"y":240,"wires":[]},{"id":"19750fc0.0c3ea","type":"function","z":"61e2a622.c59ed8","name":"","func":"msg.payload = msg.req.body.toString();\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[["9568eadf.e95868"]]},{"id":"9568eadf.e95868","type":"xml","z":"61e2a622.c59ed8","name":"","property":"payload","attr":"","chr":"","x":570,"y":240,"wires":[["955da8de.9567a8"]]},{"id":"45fe1594.816f9c","type":"http in","z":"61e2a622.c59ed8","name":"","url":"/xmlfile","method":"get","upload":false,"swaggerDoc":"","x":130,"y":340,"wires":[["ea084675.539a78"]]},{"id":"ea084675.539a78","type":"file in","z":"61e2a622.c59ed8","name":"","filename":"D:\\om2m no eclipse\\NA\\notification.xml","format":"utf8","chunk":false,"sendError":false,"x":380,"y":340,"wires":[["907c8d28.3bd3c"]]},{"id":"e992e28c.e03a7","type":"http response","z":"61e2a622.c59ed8","name":"","statusCode":"","headers":{},"x":890,"y":340,"wires":[]},{"id":"907c8d28.3bd3c","type":"xml","z":"61e2a622.c59ed8","name":"","property":"payload","attr":"","chr":"","x":710,"y":340,"wires":[["e992e28c.e03a7"]]},{"id":"50b5d253.664c7c","type":"debug","z":"61e2a622.c59ed8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":140,"wires":[]},{"id":"5ff72d3f.1c2d44","type":"http in","z":"61e2a622.c59ed8","name":"","url":"/locations","method":"get","upload":false,"swaggerDoc":"","x":110,"y":420,"wires":[["7048b8fe.a43788"]]},{"id":"7048b8fe.a43788","type":"file in","z":"61e2a622.c59ed8","name":"","filename":"D:\\om2m no eclipse\\NA\\notification.xml","format":"utf8","chunk":false,"sendError":false,"x":380,"y":420,"wires":[["d90787ed.970448"]]},{"id":"d90787ed.970448","type":"xml","z":"61e2a622.c59ed8","name":"","property":"payload","attr":"","chr":"","x":710,"y":420,"wires":[["a18fbe11.e01b6"]]},{"id":"a18fbe11.e01b6","type":"json","z":"61e2a622.c59ed8","name":"","property":"payload","action":"","pretty":false,"x":890,"y":420,"wires":[["7d25c60b.de6168"]]},{"id":"7d25c60b.de6168","type":"function","z":"61e2a622.c59ed8","name":"","func":"var data = JSON.parse(msg.payload); \nvar object1 = data.obj; \nvar string1 = object1.str;\n\nvar tres= string1[3]; \nvar tres_$ = tres.$; \nvar latitude = tres_$.val;\n\nvar cuatro= string1[4]; \nvar cuatro_$ = cuatro.$; \nvar longitude = cuatro_$.val;\n\nmsg.payload= { \n    \"latitude\":latitude, \n    \"longitude\": longitude \n    \n}; \nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":420,"wires":[["83302cbf.b145a","8dc70ee8.176fe"]]},{"id":"83302cbf.b145a","type":"http response","z":"61e2a622.c59ed8","name":"","statusCode":"","headers":{},"x":1290,"y":380,"wires":[]},{"id":"8dc70ee8.176fe","type":"debug","z":"61e2a622.c59ed8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":480,"wires":[]},{"id":"ba59a42e.757d38","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"6150302f.e8d14","type":"xA","z":"","appId":"MY_NETWORK_APPLICATION","contactUrl":"localhost:1880","Rn":""},{"id":"480ee326.c6268c","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"}]